.moves-container {
    border: 5px solid black;
    border-radius: 10px;
    background: #d6cdcd;
    margin-top: 30px;
}

.moves-list {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    list-style: none;
    padding: 7px;
}

.individual-move {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 110px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 5px;
    margin-bottom: 5px;
}